/*
 * reset部分
 */
body {
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: ease-out;
}

.body-show {
  opacity: 1;
}

/*
 * 公用样式
 */
#main {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-image: url("../assets/image/背景.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.nav-home {
  height: 16vw;
  cursor: pointer;
}

.first-letter-capital::first-letter {
  font-size: 2em;
  font-weight: bold;
}

/* line-height: 1 */
.lh1 {
  line-height: 1;
}
.lh9 {
  line-height: 0.9;
}

.pointer {
  cursor: pointer;
}

/* 链接样式 */
.link {
  text-decoration: none;
  transition: color 0.1s;
}

.link:hover {
  /* color: lightseagreen; */
}

/* 滚动到底部显示的阴影，表示滚动到底部 */
#scroll-shadow-container {
  position: fixed;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  box-shadow: 0 0 70px 10px black;
  opacity: 0;
}

.scroll-shadow--show {
  animation: scroll-shadow 2s ease-out 1 forwards;
}

@keyframes scroll-shadow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* 图片容器 */
.image-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 0;
  line-height: 0;
}

.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
}

.image-container img {
  width: 100%;
}
